<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/base.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/favicon.png')}}" type="image/x-icon">
    {% block css_imports %}
    {% endblock %}
    <title>{{ pagetitle }}</title>
</head>
<body class="bg-body-tertiary">
    {% block modal %} {% endblock %}
    
    <main class="d-flex min-vh-100">
        <section id="side-nav" class="collapse-horizontal in show bg-dark text-light p-2">
            <ul class="text-center p-2">
                <!-- Divisoria 1 -->
                <li class="py-1"><a class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{{ url_for('home.render_page') }}"><i class="bi bi-house p-1 d-xl-inline d-none"></i> Home</a></li>
                <li class="py-1"><a class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{{ url_for('inventory.render_page') }}"><i class="bi bi-box p-1 d-xl-inline d-none"></i> Estoque</a></li>
                <li class="py-1"><a class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{{ url_for('customers.render_page') }}"><i class="bi bi-people d-xl-inline d-none"></i> Clientes</a></li>
                <li class="py-1"><a class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{{ url_for('sales.render_page') }}"><i class="bi bi-journal-text d-xl-inline d-none"></i> Vendas</a></li>
            </ul>
            
            <hr>
            
            <ul class="p-3 text-center">
                <!-- Divisoria 2 -->
                {% if session['user_role'] in ['master', 'admin'] %}
                <li class="p-1"><a class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{{ url_for('users.render_page') }}"><i class="bi bi-person-badge d-sm-inline d-none"></i> Usuários</a></li>
                {% endif %}
                <li class="py-1"><a class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{{ url_for('login.logout') }}"><i class="bi bi-box-arrow-left"> Logout</i></a></li>
                <li><button type="button" class="btn btn-outline-light d-xl-none mt-5" data-bs-target="#side-nav" data-bs-toggle="collapse">
                    <i class="bi bi-x"></i>
                </button></li>
            </ul>
        </section>        
        
        <section class="content p-4 w-100 w-100 overflow-y-auto">
            <div class="sticky-bottom">
                <button class="btn btn-outline-dark float-end" data-bs-toggle="collapse" data-bs-target="#side-nav" type="button"><i class="bi bi-list"></i></button>
            </div>
            {% block content %} {% endblock %}
        </section>

        
        <section id="toasts-container" class="toast-container position-fixed bottom-0 end-0 p-3">
            {% if messages %}
            {% set counter = 0 %}
            {% for msg in messages %}
            <div id="liveToast-{{ counter }}" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Sistema</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    {{ msg }}
                </div>
            </div>
            {% set counter = counter + 1 %}
            {% endfor %}
            {% endif %}
        </section>
    </main>
    
    {% block js_imports %} {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>    
    {% if messages %}
    <script src="{{ url_for('static', filename='javascript/toasts.js')}}"></script>
    {% endif %} 
</body>
</html>