<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>{{ pagetitle }}</title>
</head>
<body>
    <main class="main-container d-flex">
        <section class="sidebar" id="side_nav">
            <div>
                <!-- Header Logo -->
            </div>
        
            <ul>
                <!-- Divisoria 1 -->
                <li><a href="{{ url_for('views.estoque') }}">Estoque</a></li>
                <li><a href="{{ url_for('views.vendas') }}">Vendas</a></li>
                <li><a href="{{ url_for('views.compras') }}">Clientes</a></li>
            </ul>
            
            <hr>
            
            <ul>
                <!-- Divisoria 2 -->
                {% if session['user_role'] in ['master', 'admin'] %}
                <li><a href="">Usuários</a></li>
                {% endif %}
                <form action="{{ url_for('views.logout') }}" method="POST">
                    <li><button type="submit">Sair</button></li>
                </form>
            </ul>

        </section>
    
        
        <section class="content">
            {% block content %} {% endblock %}
        </section>
    </main>
    

</body>
</html>