{% extends "base.html" %}

{% block modal %}
<!-- Modal Cadastrar Cliente -->
<section id="modal-cadastrar-cliente" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar Cliente</h5>
            </div>
            <form action="{{ url_for('customers.new_customer') }}" method="post">
                {{ new_customer.csrf_token }}
                <div class="modal-body">
                    {{ new_customer.name.label(class="form-label") }} {{ new_customer.name(class="form-control", placeholder='Nome Completo') }}
                    {{ new_customer.cpf.label(class="form-label") }} {{ new_customer.cpf(class="form-control", placeholder="Apenas números")}}
                    {{ new_customer.email.label(class="form-label") }} {{ new_customer.email(class="form-control", placeholder='exemplo@gmail.com') }}
                    {{ new_customer.address.label(class="form-label") }} {{ new_customer.address(class="form-control", placeholder='Endereço Atual') }}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
                    {{ new_customer.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Modal Editar Cliente-->
{% if customers %}
<section id="modal-editar-cliente" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titulo-modal-editar-cliente" class="modal-title"></h5>
            </div>
            
            <form action="{{ url_for('customers.edit_customer') }}" method="post">
                {{ edit_customer.csrf_token }}
                {{ edit_customer.id() }}
                <div class="modal-body">
                    {{ edit_customer.name.label(class="form-label")  }} {{ edit_customer.name(class="form-control")  }}
                    {{ edit_customer.cpf.label(class="form-label") }} {{ edit_customer.cpf(class="form-control", placeholder="Apenas Números.")}}
                    {{ edit_customer.email.label(class="form-label")  }} {{ edit_customer.email(class="form-control")  }}
                    {{ edit_customer.address.label(class="form-label")  }} {{ edit_customer.address(class="form-control")  }}
                </div>
                <div class="modal-footer">
            
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
                    {{ edit_customer.submit(class="btn btn-primary")}}
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Modal Reativar Cliente-->
 <section class="modal" id="modal-reativar-cliente" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titulo-modal-reativar-cliente">Reativar Cliente</h5>
            </div>
            <form action="{{ url_for('customers.reactivate_customer') }}" method="post">
                {{ reactivate_customer.csrf_token }}
                <div class="modal-body">
                    {{ reactivate_customer.id.label(class="form-label") }}  {{ reactivate_customer.id(class='form-control', placeholder="ID") }}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
                    {{ reactivate_customer.submit(class="btn btn-primary")}}
                </div>
            </form>

        </div>
    </div>
 </section>

<!-- Modal Desabilitar Status-->
<section id="modal-desativar-status" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titulo-modal-desativar-status" class="modal-title"></h5>
            </div>
            <div class="modal-body">
                <p>Ao desabilitar um usuário, ele ainda permanecerá no banco de dados. Caso necessite reativá-lo, contate um administrador.</p>
            </div>
            <form action="{{ url_for('customers.disable_customer_status') }}" method="post">
                <div class="modal-footer">
                    {{ disable_status.csrf_token }}
                    {{ disable_status.id() }}
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
                    {{ disable_status.submit(class="btn btn-danger")}}
                </div>
            </form>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}

{% block content %}
<div class="container-todos">
    <h1>{{ pagetitle }}</h1>
    
    <div class="d-block w-100 mt-3">
        <!-- Fullscreen -->
        <div id="botoes-clientes" class="d-none d-xl-flex btn-group float-start">
            <button id="cadastrar-cliente" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-cadastrar-cliente">Cadastrar Cliente</button>
            {% if session['user_role'] in ['master', 'admin'] and customers %}
            <button class="botao-reativar-cliente btn btn-primary"  data-bs-toggle="modal" data-bs-target="#modal-reativar-cliente">Reativar Cliente</button>
            {% endif %}
        </div>

        <!-- Mobile -->
        <div class="d-xl-none float-start">
            <div class="dropdown">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">Funções</button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-cadastrar-cliente">Cadastrar Cliente</button></li>
                    {% if session['user_role'] in ['master', 'admin'] and customers  %}
                    <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-reativar-cliente">Reativar Cliente</button></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="input-group mb-2 w-50 float-end">
            <input id="barra-pesquisa" class="form-control w-50" type="search" placeholder="Pesquisar Cliente (id, descrição, email, endereço)">
            <button id="botao-pesquisa" class="btn btn-outline-primary" type="button"><i class="bi bi-search"></i></button>
            <a href="{{ url_for('customers.render_page') }}" class="btn btn-outline-secondary d-none d-sm-inline"><i class="bi bi-arrow-clockwise"></i></a>
        </div>
    </div>

    
    <div id="tabela-clientes" class="d-flex table-responsive w-100 mt-5">
        <table class="table table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Email</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody id="body-tabela-clientes">
                <!-- Linhas de registro de produtos -->
            </tbody>
        </table>
    </div>
</div>

<div class="text-center m-2" id="botoes-paginas">
    <button id="botao-anterior" class="btn btn-secondary" type="button">Anterior</button>
    <button id="botao-proxima" class="btn btn-secondary" type="button">Próxima</button>
</div>
{% endblock%}

{% block js_imports %}
<script src="{{ url_for('static', filename='javascript/load_customers.js') }}"></script>
{% endblock %}