{% extends "base.html" %}

{% block modal %}

{% if categories %}
<!-- Modal Deletar Categorias -->
<section id="modal-deletar-categoria" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titulo-modal-deletar-categoria" class="modal-title"></h5>
            </div>
            <div class="modal-body">
                <p>Tem certeza de que deseja deletar essa categoria? Ela será removida do banco de dados e não poderá ser recuperada.</p>
            </div>
            <div class="modal-footer">
                <form action="{{ url_for('api.delete_category') }}" method="post">
                    <input type="hidden" name="id-categoria-deletar" id="id-categoria-deletar">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
                    <button class="btn btn-danger" type="submit">Deletar</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if products %}    
<!-- Adicionar Unidades dos Produtos -->
<section id="modal-adicionar-unidades" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titulo-modal-adicionar-unidades">=</h5>
            </div>
            <form action="{{ url_for('api.add_units') }}" method="post">
                <div class="modal-body">
                    <div>
                        <input type="hidden" name="id-produto-adicionar" id="id-produto-adicionar">
                        <label class="form-label" for="units-adicionar">Quantidade</label>
                        <input placeholder="Insira um valor inteiro (Ex: 50, 20, 33...)" class="form-control" name="units-adicionar" id="units-adicionar"  class="form-input" type="number">
                    </div>
                </div> 
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancelar</button>
                    <button class="btn btn-primary" type="submit">Adicionar Unidades</button>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Editar Produto -->
<section id="modal-editar-produto" class="modal" tabindex="-1">

</section>

<!-- Modal Deletar Produtos -->
<section id="modal-deletar-produto" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titulo-modal-deletar-produto" class="modal-title"></h5>
            </div>
            <div class="modal-body">
                <p>Deseja mesmo remover esse produto? Ele será deletado do banco de dados e não poderá ser recuperado.</p>
            </div>
            <div class="modal-footer">
                <form action="{{ url_for('api.delete_product') }}" method="post">
                    <input type="hidden" name="id-produto-deletar" id="id-produto-deletar">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
                    <button class="btn btn-danger" type="submit">Deletar</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% endblock %}

{% block content %}

<h1>{{ pagetitle }}</h1> 

<div id="container-todos">
    <div id="botoes-estoque">
        <button id="cadastrar-categoria" data-bs-toggle="collapse" data-bs-target="#collapse-cadcat" aria-expanded="false" aria-controls="collapse-cadcat" type="button">Cadastrar Categoria</button>
        {% if categories %}
        <button id="excluir-categoria" data-bs-toggle="collapse" data-bs-target="#collapse-delcat" aria-expanded="false" aria-controls="collapse-delcad" type="button">Deletar Categoria</button>
        <button id="cadastrar-produto" data-bs-toggle="collapse" data-bs-target="#collapse-cadprod" aria-expanded="false" arial-controls="collapse-cadprod" type="button">Cadastrar Produto</button>
        {% endif %}

        <input id="barra-pesquisa" type="search" placeholder="Pesquisar Produto (id, descrição, categoria)">
        <button id="botao-pesquisa" type="button">Pesquisar</button>
        <a href="{{ url_for('views.inventory') }}" class="btn btn-secondary">Recarregar</a>
    </div>
    
    <div id="container-collapses">
        <!-- Cadastrar Categoria -->
        <div class="collapse" id="collapse-cadcat">
            <form action="{{ url_for('api.new_category') }}" method="post" class="card card-body">
                <label for="desc-categoria-cadastrar" class="form-label">Descrição</label>
                <input id="desc-categoria-cadastrar" name="desc-categoria-cadastrar" placeholder="Nome da Categoria (Ex: Camiseta, Brinquedo, Livro...)" type="text" class="form-control">
                <button class="btn btn-primary" type="submit">Cadastrar Categoria</button>
            </form>
        </div>

        {% if categories %}
        <!-- Deletar Categorias -->
        <div class="collapse" id="collapse-delcat">
            <div class="card card-body">
                <label for="select-deletar-categoria" class="form-label">Descrição</label>
                <select name="select-deletar-categoria" id="select-deletar-categoria" class="form-select">
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.desc }}</option>
                    {% endfor %}
                </select>
                <button id="botao-deletar-categoria" data-bs-toggle="modal" data-bs-target="#modal-deletar-categoria" class="btn btn-danger" type="submit">Deletar Categoria</button>
            </div>
        </div>

        <!-- Cadastrar Produtos -->
        <div class="collapse" id="collapse-cadprod">
            <form action="{{ url_for('api.new_product') }}" method="post" class="card card-body">
                {{ new_product.csrf_token }}
                {{ new_product.description.label(class="form-label") }} {{ new_product.description(class="form-control", placeholder="Nome do produto (Ex: Camiseta Verde, Calça Jeans...)")}}
                {{ new_product.price.label(class="form-label") }} {{ new_product.price(class="form-control", placeholder="Número Decimal (Ex: 54.90, 99.99, 34.90...)") }} 
                {{ new_product.category_id.label(class="form-label") }} {{new_product.category_id(class="form-select") }}
                {{ new_product.submit(class="btn btn-primary") }}
            </form>
        </div>
        
        {% endif %}
    </div>
    
    <div id="botoes-paginas">
        <button id="anterior" type="button">anterior</button>
        <button id="proxima" type="button">proxima</button>
    </div>
    <div id="tabela-estoque">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody id="body-tabela-estoque">
                <!-- Linhas de registro de produtos -->
            </tbody>
        </table>
    </div>
</div>
{% endblock%}

{% block js_imports %}
<script src="{{ url_for('static', filename='./javascript/load_inventory.js') }}"></script>
{% endblock%}