{% extends "base.html" %}

{% block modal %}
<section id="modal-deleta-categoria" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titulo-modal" class="modal-title"></h5>
            </div>
            <div class="modal-body">
                <p>Tem certeza de que deseja deletar essa categoria? Ela será removida do banco de dados e não poderá ser recuperada.</p>
            </div>
            <div class="modal-footer">
                <form action="{{ url_for('val.delete_category') }}" method="post">
                    <input type="hidden" name="id-categoria-delete" id="id-categoria-delete">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
                    <button class="btn btn-danger" type="submit">Deletar</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}

<h1>{{ pagetitle }}</h1> 

<div id="container-todos">
    <div id="botoes-estoque">
        <button id="cadastrar-produto" data-bs-toggle="collapse" data-bs-target="#collapse-cadprod" aria-expanded="false" arial-controls="collapse-cadprod" type="button">Cadastrar Produto</button>
        <button id="cadastrar-categoria" data-bs-toggle="collapse" data-bs-target="#collapse-cadcat" aria-expanded="false" aria-controls="collapse-cadcat" type="button">Cadastrar Categoria</button>
        {% if categories %}
        <button id="excluir-categoria" data-bs-toggle="collapse" data-bs-target="#collapse-delcat" aria-expanded="false" aria-controls="collapse-delcad" type="button">Deletar Categoria</button>
        {% endif %}

        <input id="barra-pesquisa" type="search" placeholder="Pesquisar Produto (id, descrição, categoria)">
        <button id="botao-pesquisa" type="button">Pesquisar</button>
        <a href="{{ url_for('views.inventory') }}" class="btn btn-secondary">Recarregar</a>
    </div>

    <div id="container-collapses">
        <!-- Cadastrar Produtos -->
        <div class="collapse" id="collapse-cadprod">
            <form action="#" class="card card-body">
                <p>Cadastrar Produto</p>
            </form>
        </div>
        
        <!-- Cadastrar Categoria -->
        <div class="collapse" id="collapse-cadcat">
            <form action="{{ url_for('val.new_category') }}" method="post" class="card card-body">
                <label for="new_category" class="form-label">Descrição</label>
                <input id="new_category" name="new_category" type="text" class="form-control">
                <button class="btn btn-primary" type="submit">Cadastrar Categoria</button>
            </form>
        </div>

        {% if categories %}
        <!-- Deletar Categoria -->
        <div class="collapse" id="collapse-delcat">
            <div class="card card-body">
                <p>Deletar Categoria</p>
                <label for="select-categoria-delete" class="form-label">Descrição</label>
                <select name="select-categoria-delete" id="select-categoria-delete" class="form-select">
                    {% for category in categories %}
                    <option value="{{ category.id }}" id="option-{{ category.id }}">{{ category.desc }}</option>
                    {% endfor %}
                </select>
                <button id="botao-deletar-categoria" data-bs-toggle="modal" data-bs-target="#modal-deleta-categoria" class="btn btn-danger" type="submit">Deletar Categoria</button>
            </div>
        </div>
        {% endif %}
    </div>
    
    <div id="botoes-paginas">
        <button id="anterior" type="button">anterior</button>
        <button id="proxima" type="button">proxima</button>
    </div>
    <div id="tabela-estoque">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody id="body-tabela-estoque">
                <!-- Linhas de registro de produtos -->
            </tbody>
        </table>
    </div>
</div>
{% endblock%}

{% block js_imports %}
<script src="{{ url_for('static', filename='./javascript/estoque.js') }}"></script>
{% endblock%}