{% extends "base.html" %}

{% block modal %}

<!-- Modal Deletar Categorias -->
<section id="modal-deletar-categoria" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titulo-modal-deletar-categoria" class="modal-title"></h5>
            </div>
            <div class="modal-body">
                <p>Tem certeza de que deseja deletar essa categoria? Ela será removida do banco de dados e não poderá ser recuperada.</p>
            </div>
            <div class="modal-footer">
                <form action="{{ url_for('inventory.delete_category') }}" method="post">
                    {{ delete_category.csrf_token }}
                    {{ delete_category.id() }}
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
                    {{ delete_category.submit(class='btn btn-danger') }}
                </form>
            </div>
        </div>
    </div>
</section>
   
<!-- Adicionar Unidades dos Produtos -->
<section id="modal-adicionar-unidades" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titulo-modal-adicionar-unidades"></h5>
            </div>
            <form action="{{ url_for('inventory.add_units') }}" method="post">
                <div class="modal-body">
                    <div>
                        {{ add_units.csrf_token }}
                        {{ add_units.id() }}
                        {{ add_units.units.label(class='form-label') }} {{ add_units.units(class='form-control', placeholder='Insira um valor inteiro (Ex: 50, 20, 33...)') }}
                    </div>
                </div> 
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancelar</button>
                    {{ add_units.submit(class='btn btn-primary')}}
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Editar Produto -->
<section id="modal-editar-produto" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titulo-modal-editar-produto"></h5>
            </div>
            <form action="{{ url_for('inventory.edit_product') }}" method="post">
                <div class="modal-body">
                    {{ edit_product.csrf_token }}
                    
                    {{ edit_product.id() }}
                    {{ edit_product.desc.label(class='form-label') }} {{ edit_product.desc(class='form-control', placeholder='Descrição do Produto')}}
                    {{ edit_product.price.label(class='form-label') }} {{ edit_product.price(class='form-control', placeholder='Preço do Produto (Ex)') }}
                    {{ edit_product.category_id.label(class='form-label') }} {{ edit_product.category_id(class='form-select') }}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
                    {{ edit_product.submit(class='btn btn-primary') }}
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Modal Desativar Produtos -->
<section id="modal-desativar-produto" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titulo-modal-desativar-produto" class="modal-title"></h5>
            </div>
            <div class="modal-body">
                <p>Deseja mesmo remover esse produto? Ele será deletado do banco de dados e não poderá ser recuperado.</p>
            </div>
            <div class="modal-footer">
                <form action="{{ url_for('inventory.disable_product') }}" method="post">
                    {{ disable_product.csrf_token }}
                    {{ disable_product.id() }}
                    
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
                    {{ disable_product.submit(class='btn btn-danger') }}
                </form>
            </div>
        </div>
    </div>
</section>

<section id="modal-reativar-produto" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Reativar Produto</h5>
            </div>
            <form action="{{ url_for('inventory.enable_product' )}}" method="post">
                <div class="modal-body">
                    {{ enable_product.csrf_token }}
                    {{ enable_product.id(class='form-control', placeholder='ID do Produto') }}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
                    {{ enable_product.submit(class='btn btn-primary')}}
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}

{% block content %}

<h1>{{ pagetitle }}</h1> 
<input type="hidden" id="user_role" value="{{ session['user_role'] }}">

<div id="container-todos">
    <div id="botoes-estoque">
        {% if session['logged_user'] in ['master', 'admin'] %}
        <button id="cadastrar-categoria" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapse-cadcat" aria-expanded="false" aria-controls="collapse-cadcat" type="button">Cadastrar Categoria</button>
            {% if categories %}
            <button id="cadastrar-produto" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapse-cadprod" aria-expanded="false" arial-controls="collapse-cadprod" type="button">Cadastrar Produto</button>
            <button id="reativar-produto" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-reativar-produto">Reativar Produto</button>
            <button id="excluir-categoria" class="btn btn-danger" data-bs-toggle="collapse" data-bs-target="#collapse-delcat" aria-expanded="false" aria-controls="collapse-delcad" type="button">Deletar Categoria</button>
            {% endif %}
        {% endif %}

        <input id="barra-pesquisa" type="search" placeholder="Pesquisar Produto (id, descrição, categoria)">
        <button id="botao-pesquisa" class="btn btn-primary" type="button">Pesquisar</button>
    </div>
    
    <div id="container-collapses">
        <!-- Cadastrar Categoria -->
        <div class="collapse" id="collapse-cadcat">
            <form action="{{ url_for('inventory.new_category') }}" method="post" class="card card-body">
                {{ new_category.csrf_token }}
                {{ new_category.desc.label(class='form-label') }} {{ new_category.desc(class='form-control', placeholder='Nome da Categoria (Ex: Camiseta, Brinquedo, Livro...)') }}
                {{ new_category.submit(class='btn btn-primary')}}
            </form>
        </div>

        {% if categories %}
        <!-- Deletar Categorias -->
        <div class="collapse" id="collapse-delcat">
            <div class="card card-body">
                <label for="select-deletar-categoria" class="form-label">Descrição</label>
                <select name="select-deletar-categoria" id="select-deletar-categoria" class="form-select">
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.desc }}</option>
                    {% endfor %}
                </select>
                <button id="botao-deletar-categoria" data-bs-toggle="modal" data-bs-target="#modal-deletar-categoria" class="btn btn-danger" type="submit">Deletar Categoria</button>
            </div>
        </div>

        <!-- Cadastrar Produtos -->
        <div class="collapse" id="collapse-cadprod">
            <form action="{{ url_for('inventory.new_product') }}" method="post" class="card card-body">
                {{ new_product.csrf_token }}
                {{ new_product.desc.label(class="form-label") }} {{ new_product.desc(class="form-control", placeholder="Nome do produto (Ex: Camiseta Verde, Calça Jeans...)")}}
                {{ new_product.price.label(class="form-label") }} {{ new_product.price(class="form-control", placeholder="Número Decimal (Ex: 54.90, 99.99, 34.90...)") }} 
                {{ new_product.category_id.label(class="form-label") }} {{new_product.category_id(class="form-select") }}
                {{ new_product.submit(class="btn btn-primary") }}
            </form>
        </div>
        
        {% endif %}
    </div>
    
    <div id="botoes-paginas">
        <button id="anterior" class="btn btn-secondary" type="button">anterior</button>
        <button id="proxima" class="btn btn-secondary" type="button">proxima</button>
    </div>
    <div id="tabela-estoque">
        <table class="table table-responsive table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody id="body-tabela-estoque">
                <!-- Linhas de registro de produtos -->
            </tbody>
        </table>
    </div>
</div>
{% endblock%}

{% block js_imports %}
<script src="{{ url_for('static', filename='/javascript/load_inventory.js') }}"></script>
{% endblock%}