<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <main>
        {% if messages %}
        <section id="messages-panel">
            <ul>
            {% for cat, msg in messages %}
                {% if cat == 'error' %}
                <li class="error">{{ msg }}</li>
                {% else %}
                <li class="success">{{ msg }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </section>
        {% endif %}

        <section>
            <h1>Login</h1>
            <form method="POST" action="{{ next or url_for('val.login_validation') }}">
                {{ form.csrf_token }}
                {{ form.nextpage(value=next) }}
                <div>
                    {{ form.username.label }} {{ form.username(size=20) }}
                </div>
                <div>
                    {{ form.password.label }} {{ form.password(size=20) }}
                </div>
                {{ form.submit() }}
            </form>
        </section>
    </main>
</body>
</html>