{% extends "base.html" %}

{% block modal %}
<section id="modal-mudar-senha" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titulo-modal-mudar-senha"></h5>
            </div>
            <form action="{{ url_for('users.change_password') }}" method="post">
                {{ change_passwd.csrf_token }}
                {{ change_passwd.id() }}
                <div class="modal-body">
                    {{ change_passwd.new_password.label(class="form-label") }} {{ change_passwd.new_password(class="form-control", placeholder="Insira a nova senha deste usuário.") }}
                    {{ change_passwd.confirm.label(class="form-label") }} {{ change_passwd.confirm(class="form-control", placeholder="Confirme a senha do campo anterior.") }}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancelar</button>
                    {{ change_passwd.submit(class="btn btn-danger") }}
                </div>
            </form>
        </div>
    </div>
</section>

<section id="modal-editar-usuario" class="modal" tabindex="-1">
    <section class="modal-dialog">
        <section class="modal-content">
            <section class="modal-header">
                <h5 id="titulo-modal-editar-usuario"></h5>
            </section>
            <form action="{{ url_for('users.edit_user') }}" method="post">
                {{ edit_user.csrf_token }}
                {{ edit_user.id() }}
                <section class="modal-body">
                    {{ edit_user.name.label(class="form-label") }} {{ edit_user.name(class="form-control", placeholder="Nome Completo do Usuário.") }}
                    {{ edit_user.username.label(class="form-label") }} {{ edit_user.username(class="form-control", placeholder="Nome de Acesso do Usuário.")}}
                    {{ edit_user.email.label(class="form-label") }} {{ edit_user.email(class="form-control", placeholder="exemplo@email.com") }}
                </section>
                <section class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
                    {{ edit_user.submit(class="btn btn-primary")}}
                </section>
            </form>
        </section>
    </section>
</section>

<section id="modal-desativar-status" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titulo-modal-desativar-status"></h5>
            </div>
            <div class="modal-body">
                <p>Ao desativar um usuário, ele não será visível na tabela de usuários. Você pode reativá-lo pela função "Reativar Usuário".</p>
            </div>
            <div class="modal-footer">
                <form action="{{ url_for('users.disable_status') }}" method="post">
                    {{ disable_status.csrf_token }}
                    {{ disable_status.id() }}

                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
                    {{ disable_status.submit(class="btn btn-danger")}}
                </form>
            </div>
        </div>
    </div>
</section>

<section id="modal-reativar-usuario" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titulo-modal-reativar-usuario">Reativar Usuário</h5>
            </div>
            <form action="{{ url_for('users.enable_status')}}" method="post">
                <div class="modal-body">
                    {{ enable_status.csrf_token }}
                    {{ enable_status.id(class='form-control', placeholder='ID do usuário')}}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancelar</button>
                    {{ enable_status.submit(class='btn btn-primary') }}
                </div>
            </form>
        </div>
    </div>
</section>

<section id="modal-editar-cargo" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="titulo-modal-editar-cargo"></h5>
            </div>
            <form action="{{ url_for('users.edit_role') }}" method="post">
                {{ edit_role.csrf_token }}
                {{ edit_role.id() }}
                <div class="modal-body">
                    {{ edit_role.role_id.label(class='form-label') }} {{ edit_role.role_id(class='form-select') }}    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
                    {{ edit_role.submit(class='btn btn-primary') }}
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<h1>{{ pagetitle }}</h1>
<input id="logged_user" type="hidden" value="{{ session['logged_user'] }}">
<input id="user_role" type="hidden" value="{{ session['user_role'].title() }}">

<div id="container-todos">
    <div id="botoes-estoque">
        <button id="cadastrar-usuario" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapse-caduser" aria-expanded="false" aria-controls="collapse-caduser" type="button">Cadastrar Usuário</button>
        <button id="reativar-usuario" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-reativar-usuario">Reativar Usuário</button>
        
        <input id="barra-pesquisa" type="text" placeholder="ID, Nome, Username, Cargo, Email">
        <button id="botao-pesquisa" class="btn btn-primary" type="button">Pesquisar</button>
    </div>
    
    <div id="container-collapses">
        <!-- Cadastrar Usuário -->
        <div class="collapse" id="collapse-caduser">
            <form action="{{ url_for('users.new_user') }}" method="post" class="card card-body">
                {{ new_users.csrf_token }}
                {{ new_users.name.label(class="form-label")}} {{ new_users.name(class="form-control", placeholder="Nome completo do novo usuário.") }}
                {{ new_users.username.label(class="form-label") }} {{ new_users.username(class="form-control", placeholder="Nome de acesso do usuário.") }}
                {{ new_users.role_id.label(class="form-label") }} {{ new_users.role_id(class="form-select") }}
                {{ new_users.email.label(class="form-label")}} {{ new_users.email(class="form-control", placeholder="exemplo@gmail.com")}}
                {{ new_users.password.label(class="form-label") }} {{ new_users.password(class="form-control", placeholder="Senha de Acesso.") }}
                {{ new_users.confirm_password.label(class="form-label") }} {{ new_users.confirm_password(class="form-control", placeholder="Confirmar Senha de Acesso.") }}
                {{ new_users.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
    
    <div id="botoes-paginas">
        <button id="botao-anterior" class="btn btn-secondary" type="button">Anterior</button>
        <button id="botao-proxima" class="btn btn-secondary" type="button">Proximo</button>
    </div>

    <div id="tabela-usuarios">
        <table class="table table-hover table-responsive text-center">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Username</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Email</th>
                    <th scope="col">Data de Criação</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody id="body-tabela-usuarios" class="table-striped">
                <!-- Linhas de registro de usuários -->
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js_imports %} 
<script src="{{ url_for('static', filename='javascript/load_users.js') }}"></script>
{% endblock %}