{% extends "base.html" %}

{% block modal %}

{% endblock %}

{% block content %}
<h1>{{ pagetitle }}</h1>

<div id="container-todos">
    <div id="botoes-vendas">
        <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapse-regsale">Registrar Venda</button>
        
        <input id="barra-pesquisa" type="text" placeholder="ID, Cliente, Vendedor">
        <button id="botao-pesquisa" type="button" class="btn btn-primary">Pesquisar</button>
    </div>

    <div id="container-collapses">
        <div class="collapse" id="collapse-regsale">
            <form action="{{ url_for('sales.register_sale') }}" method="post" class="card card-body">
                {{ new_sale.csrf_token }}

                {{ new_sale.customer_id.label(class="form-label") }} {{ new_sale.customer_id(class="form-control") }}
                {{ new_sale.salesman_id.label(class="form-label") }} {{ new_sale.salesman_id(class="form-select") }}
                {{ new_sale.discount.label(class="form-label") }} {{ new_sale.discount(class="form-select") }}

                <div>
                    <label for="products" class="form-label">Produtos</label>
                    <div id="container-produtos">
                        <!-- Campos adicionados de forma dinâmica -->
                    </div>
                    <button type="button" class="btn btn-secondary" id="botao-adicionar-produto">Adicionar Produto</button>
                </div>

                {{ new_sale.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>

    
    
    <div id="tabela-vendas" class="text-center">
        <table class="table table-responsive table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Vendedor</th>
                    <th scope="col">Data da Venda</th>
                    <th scope="col">Total</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody id="body-tabela-vendas">
                <!-- registro das vendas -->
            </tbody>
        </table>
    </div>
</div>

<div id="botoes-paginas">
    <button id="botao-anterior" class="btn btn-secondary" type="button">Anterior</button>
    <button id="botao-proxima" class="btn btn-secondary" type="button">Proximo</button>
</div>
{% endblock%}

{% block js_imports %}
<script src="{{ url_for('static', filename='javascript/load_sales.js') }}"></script>
{% endblock %}